# ===============================
# Data (CONFIDENTIAL – DO NOT TRACK)
# ===============================
data/
data/**

# ===============================
# Models & weights
# ===============================
model/
model/**
*.pt
*.onnx

# ===============================
# Outputs / results
# ===============================
outputs/
outputs/**

# ===============================
# Python / environment
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
.ipynb_checkpoints/

# ===============================
# OS / editor
# ===============================
.DS_Store
.vscode/
.idea/

